include layouts/mainlayout
link(rel="stylesheet" href="/css/box.css")
block content
    h1 #{pageTitle}
    div.box-container
        form(action="/surveyResults" method="POST")
            h2 Interest Survey
            each question in questions
                div
                    label(for=question.id) #{question.q}
                    select(name=question.id id=question.id)
                        option(value="1") A little
                        option(value="2") Somewhat
                        option(value="3") Very much
            button.btn.btn-primary(type="submit") Submit Form